<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>更新数据</title>
		<!-- Bootstrap core CSS -->
		<link href="/public/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 main">
					<h1 class="page-header">更新数据</h2>
					<form action="/post" enctype="application/x-www-form-urlencoded" method="post" class="form-horizontal">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label" disabled="false">姓名：</label>
							<div class="col-sm-5">
								<input required="required" {{if is}}readonly{{/if}} type="text" value="{{username}}" name="username" class="form-control" id="inputEmail3" placeholder="姓名">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">年龄：</label>
							<div class="col-sm-5">
								<input required="required" type="text" name="age" class="form-control" id="inputPassword3" placeholder="年龄">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">性别：</label>
							<div class="col-sm-5">
								男：
								<input checked="checked" value="男" type="radio" name="gender" id="inputPassword3">
								&emsp;&emsp;&emsp;
								女：
								<input type="radio" value="女" name="gender" id="inputPassword3">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">爱好：</label>
							<div class="col-sm-5">
								<textarea required="required" name="hobbies" class="form-control" id="inputPassword3"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>

</html>