<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{block 'title'}}默认标题{{/block}}</title>
  <link rel="stylesheet" href="/public/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  {{block 'head'}}{{/block}}
</head>

<body>
  {{include '../_partials/header.html'}}
  {{block 'body'}}{{/block}}
  {{include '../_partials/footer.html'}}
  <script src="/public/bootstrap-3.3.7-dist/js/jquery-1.11.0.js"></script>
  <script src="/public/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  {{block 'script'}}{{/block}}
</body>

</html>
